<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Demo_PromotionalProducts::grids_custom_dp"
             title="Promotional Products"
             translate="title"
             module="Demo_PromotionalProducts"
             sortOrder="10"
             parent="Magento_Backend::marketing"
             action="grids/custom/index/"
             resource="Demo_PromotionalProducts::grids_custom_dp"/>
    </menu>
</config>
